<div class="row">

      <div class="col-xs-12 col-sm-12 col-md-12 col-1g-12">
        <%= f.submit "保存" , class: "btn btn-primary save-btn"%> <%= link_to "返回",admin_tags_path,class: "btn btn-primary back-btn" %>
      </div>
  <% if tag.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(tag.errors.count, "error") %> prohibited this tag from being saved:</h2>

      <ul>
      <% tag.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

      <div class="col-xs-12 col-sm-12 col-md-4 col-1g-4 control-group form-group ">
    <%= f.label :name, "标签名" %>
    <%= f.text_field :name,class: "form-control" %>
  </div>

</div>