<div class="well well-sm">
  <div class="input-group">
    <%= text_field_tag :search,params[:search],class: 'form-control' %>
    <span class="input-group-btn">
      <button class="btn btn-default" type="commit"><i class="fa fa-search"></i></button>
     </span>
  </div>
</div>

<div class="panel panel-info">
  <div class="panel-heading">
    <h3 class="panel-title">分类</h3>
  </div>
  <div class="panel-body">
    <% Category.all.each do |category| %>
        <% if category.present? %>
          <span class="category-item"><%= link_to category.name,'javascript:void(0);' %></span>
         <% end %>
    <% end %>
  </div>
</div>

<div class="panel panel-info">
  <div class="panel-heading">
    <h3 class="panel-title">常用网站</h3>
  </div>
  <div class="panel-body">
    <ul class="web-list">
      <li class="web-list-item"><a href="http://github.com" target="_blank" rel="nofollow"><%= image_tag 'github.png'%></a></li>
      <li class="web-list-item"><a href="http://stackoverflow.com/" target="_blank" rel="nofollow"><%= image_tag 'stackoverflow.png'%></a></li>
      <li class="web-list-item"><a href="http://ruby-china.org" target="_blank" rel="nofollow"><%= image_tag 'ruby-china.png'%></a></li>
      <li class="web-list-item"><a href="http://segmentfault.com" target="_blank" rel="nofollow"><%= image_tag 'segmentfault.png' %></a></li>
      <li class="web-list-item"><a href="http://guides.ruby-china.org" target="_blank" rel="nofollow"><%= image_tag 'rails-guides.png' %></a></li>
    </ul>
  </div>
</div>